[sondage], [sondSim]{
    padding: 0;
}

[sondage]{
    height: 1000px;
}

[sondage] h3{
    background-color:  rgb(20, 182, 223);
    padding: 20px;
    text-align: center;
    border-radius: 40px 40px 0 0;
    color: black;
    font-size: 1.5em;
    vertical-align: baseline;

}

[sondage] span {
    font-size: 0.7em;
    display: flex;
    float: right;
    background-color: rgb(125, 209, 125);
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 15px;
    color: black;
    vertical-align: baseline;
}


[sondage] form{
    margin: 100px auto 0px;
    display: block;
    border-radius: 50px;
    width: 50%;
    border: rgb(20, 182, 223) 5px solid;
    background-color: rgba(24, 26, 27, 0.8);
    position: relative;
    z-index: 10;
}



[sondage] form p{
    margin: 20px 20px 50px 15%;
    font-size: 1.1em;
}

[sondage] label{
    font-size: 1.2em;
    margin-left: 10%;
}

[sondage] p+input{
    color: white;
    font-size: 1.2em;;
    width: 100%;
    padding: 20px;
    background-color: rgb(125, 209, 125);
    border-radius: 0 0 45px 45px;
    border:  rgb(125, 209, 125) 2px solid;
    cursor: pointer;
}


[sondSim] h2{
    padding: 50px 0 0 0;
    margin: 0px 0px 40px;
}

[sondSim] .conteneur{
    justify-content: center;
    padding-bottom: 20px;
}

[sondSim] .boxsondage{
    width: 380px; 
}

[sondSim] .boxsondage img{
    width: 380px;
}

@media screen and (max-width : 600px){
    [sondage] form{
        width: 90%;
        margin: 0 15px;
    }

    [sondage] form p{
        margin-bottom: 70px;
    }
}

@media screen and (max-width : 370px){
    [sondage] label{
        margin-left: 10px;
    }
    
    [sondage] form p{
        margin-left: 20px;
    }
}

@media screen and (max-width:900px){
    .conteneur .boxsondage{
        width: 300px; 
        margin-bottom: 0px;
    }
    
    [sondSim] .boxsondage img{
        width: 300px;
    }
}


.bar {
    /* font-size: 10px */
    width: 30em;
    height: 1.5em;
    border-radius: 0.5em;
    position: relative;
    background: #f2f2f2;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
    z-index: 0;
    overflow-y: hidden;
  }

  #sondage .sond button{
    width: 30em;
  }

  .bar .percentage {
    position: relative;
    font-size: 1.5em;
    background: tomato;
    height: 1em;
    border-radius: 0.5em;
    overflow-y: hidden;
  }

  #sondage p{
    padding: 5px 0px 5px 10px;
  }

  .bar .percentage p{
    color:white;
    font-size: 0.8em;
    padding: 0px 0px 0px 10px!important;
  }

  #sondage{
    background-color: #D5E9EC;
    padding: 100px 15px;
    width: 800px;
    border-radius: 15px;
    margin: auto;
  }

  #sondage a{
    text-decoration: none;
    color: white;
  }

  #sondage a:hover{
    text-decoration: none;
    color: white;
  }

  #sondage h4{
    margin: 10px 0;
    padding-left: 10px;
    /* color: black; */
  }

  #sondage .sond{
    width: 30em;
    margin: 0 auto;
    display: block;
    
  }


  #commentaire #com .msg{
    width: 800px;
    margin: auto;
  }
 
  #commentaire #com .msg div:first-child{
    background-color: #106B7e;
    display: flex;
    align-items: center;
  }

  #commentaire #com .msg div{
    padding: 5px;
    border: #106B7e 1px solid;
  }

  #commentaire #com .msg img{
    height: 50px;
    padding: 0 10px;
  }

  #commentaire #com .msg div:first-child p{
    color: white;
    margin: 0;
    padding: 0 10px;
  }

  #commentaire #com div:last-child p{
    margin: 0;
    padding: 0 20px;
    font-size: 0.8em;
  }

  #commentaire .monCom{
  display: none;
}

#commentaire textarea.form-control {
    height: 100px;
    width: 60%;
    border: 1px #106B7e solid;
    margin: auto;
}

#shareSondage{
    display: none;
    position: fixed;
    z-index: 5;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

#shareSondage .card{
    background-color: #D5E9EC;
}

#shareSondage form i{
    font-size: 30px;
    text-align: right;
    padding: 10px;
    cursor: pointer;
    display: flex;
    float: right;
}

#shareSondage form i:hover{
    color: #7e1010;
}

#shareSondage form textarea{
  height: 200px;
}

#email{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width:800px){
  #sondage{
    width: 500px;
  }

  .bar, #sondage .sond button {
    width: 400px;
  }

  #sondage .sond{
    width: 400px; 
  }

  #com .msg{
    width: 500px;
  }
}

@media screen and (max-width:500px){
  #sondage{
    width: 100%;
  }

  .bar, #sondage .sond button {
    width: 90%;
  }

  #sondage .sond{
    width: 90%; 
  }

  #com .msg{
    width: 100%;
  }
}